
<%- include('partials/header') -%>

    <h2>About</h2>
    <p>
        Built my own 'NGL Anonymous Message' app, just for fun.
    </p>
    <p>
        I see many jejemons post that link on their profile, and their stories. I thought it was pretty easy to do so I built my own.
    </p>
    <p>
        This is very basic and truly anonymous.
    </p>
    <p>
        This is full-stack. Only used EJS and mongoDB. Deployed on Render.
    </p>

    <%- include('partials/footer') -%>
